body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: s */
}

#top-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 10%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;

}

#data {
  width: 20%;
}

#mode {
  width: 60%;
}

#color {
  width: 20%;
  height: 1rem;
  background-color: red;
}
